body
{
    background-color: rgb(225, 228, 222);
    background-image: url("./images/gymbg2.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    /* background-repeat: no-repeat; */
}

.row1
{
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;

}
.box1
{
    background-color: rgb(222, 220, 220);
    min-height: 300px;
    margin: 60px;
    border: 0.5px solid rgb(113, 111, 111);
    border-radius: 15px;
    padding: 10px 0px 40px 0px;
    font-family: 'Philosopher', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 2px 1px 8px 5px rgba(80, 78, 78, 0.5), inset 2px 1px 8px 5px rgba(18, 14, 127, 0.5);
}
#img1
{
    filter: brightness(0%);
}
#hd1
{
    margin-top: -30px;
    margin-bottom: 15px;
    color: black;
}
#hd2
{
    font-family: poppins;
    color: black;
}
.allInputs
{
    margin: 5px;
    /* box-shadow: inset 7px 7px 10px 4px rgba(0,0,0,0.3); */
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121,.288);
    border-radius: 20px;
    background-color: rgb(222, 219, 219);
    border: 0.5px solid rgb(170, 168, 168);
    font-size: 18px;
    height: 45px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}
.allInputs:focus
{
    margin: 5px;
    box-shadow: inset 7px 7px 10px 4px rgba(0,0,0,0.3);
    border-radius: 20px;
    height: 45px;
    width: 300px;
    border: 0.5px solid black;
    font-family: 'Poppins', sans-serif;
}
#passWord2
{
    width:305px;
    margin-left: -2px;
}
#showBtn
{
    height: 45px;
    margin-top: 5px;
    margin-left: -49px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}
#showBtn:focus
{
    height: 45px;
    margin-top: 5px;
    margin-left: -49px;
    border-radius: 50px;
    /* border: 1px solid rgba(0, 0, 255, 0); */
    outline: none;
}
.button1
{
    margin-top: 20px;
    width: 300px;
    border-radius: 20px;
    transition: 0.5s;
    background-color: black;
}
.button1:hover
{
    margin-top: 20px;
    width: 300px;
    /* border-radius: 10px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.5s;
}
#link1
{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 2px 2px black;
}
#link1:hover
{
    font-size: large;
}